<body>
    <header class="index-header">
      <!-- <app-nav></app-nav> -->
  
      <!-- <div id="feedback-form" class="feedback-form">
      
        <a class="feedback-form-btn bg-white blue-text" id="OpenForm">
          <img width="20"  src="../../assets/img/Home Page/1. Header/Apply Now/Apply-Now.png" /><span class="pl-2 ">APPLY NOW</span> </a>
        <div class="feedback_form_area">
        <div class="feedback_form_area_inner">
        <h3>Apply Now</h3>
        
        <form>
        
        <div class="form-group">
        <label>Name</label>
        <input type="text" id="" class="custom-inp" />
        </div>
        
        <div class="form-group">
        <label>Email</label>
        <input type="email" id="" class="custom-inp" />
        </div>
        
        <div class="form-group">
        <label>Mobile</label>
        <input type="text" id="" class="custom-inp" />
        </div>
        
        <div class="form-group">
        <label>Query</label>
        <textarea id="" class="custom-inp-txt"></textarea>
        </div>
        
        <div class="">
        <input type="submit" id="" class="btn btn-success" />
        </div>
        
        </form>
        
        </div>
        </div>
        
       </div> -->
      <div class="clr"></div>
      <section class="banner">
        <h1>
          Explore, Discover, and choose the best one for<br />you from India's
          largest educational portal.
        </h1>
        <p class="para1">
          Check out all the universities, colleges, courses, exams in India &
          abroad. You name it, we got it.
        </p>
        <!-- <div class="row"> -->
    <!--    <div class="col-lg-12">
          <div class="">-->
            <!-- <div class="col-lg-4 col-md-12"></div> -->
           <!-- <div class="col-lg-8 col-sm-12 cust-div col-sm-offset-0 col-lg-offset-2">
              <div class="home-banner-tab">
                <p-tabView>
                  <p-tabPanel header="Colleges" style="color: black">
                    <form class="example" action="">
                      <input type="text" placeholder="Enter College Name" name="search2" />
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </p-tabPanel>
                  <p-tabPanel header="Exams" class="bg-light-blue white-text-2">
                    <form class="example" action="">
                      <input type="text" placeholder="Enter Exams Name" name="search2" />
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </p-tabPanel>
                  <p-tabPanel header="Courses">
                    <form class="example" action="">
                      <input type="text" placeholder="Enter Courses Name" name="search2" />
                      <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                  </p-tabPanel>
                </p-tabView>
              </div>
            </div>-->
            <!-- <div class="col-lg-2 col-md-12"></div> -->
          <!--</div>-->
          <!-- <div class="sticky-container">
              <ul class="sticky">
                  <li>
                      <img src="../../assets/img/instagram-small-icon-12.jpg" width="32" height="32">
                      <p><a href="#" target="_blank">Instagram</a></p>
                  </li>
                  <li>
                    <img src="../../assets/img/youtube.png" width="32" height="32">
                      <p><a href="#" target="_blank">Youtube</a></p>
                  </li>
                  <li>
                    <img src="../../assets/img/whatsapp.png" width="32" height="32">
                      <p><a href="#" target="_blank">Whatsapp</a></p>
                  </li>
                  <li>
                    <img src="../../assets/img/facebook1.png" width="32">
                      <p><a href="#" target="_blank">Facebook</a></p>
                  </li>
                  <li>
                    <img src="../../assets/img/interest.png" width="32" height="32">
                      <p><a href="#" target="_blank">Pinterest</a></p>
                  </li>
                  <li>
                    <img src="../../assets/img/telegram.jpeg" width="32" height="32">
                      <p><a href="#" target="_blank">Telegram</a></p>
                  </li>
              </ul>
            </div> -->
        <!--</div>-->
  
        <div class="col-lg-12 text-center">
          <button class="b btn req-meet">
            <img src="../../assets/img/Home Page/1. Header/E-Meet/E-Meet.png" width="32" />
            Request E meet
          </button>
        </div>
        <!-- </div> -->
      </section>
      <div class="clr"></div>
    </header>
    <div class="container-fluid px-0 full-width-container">
      <div class="col-lg-12 px-0 ">
        <div class="new">
          <div class="title">
            <h3><img src="../../assets/img/Home Page/1. Header/News/News.png" alt="news" width="100" class="mr-3" /></h3>
          </div>
          <marquee  onmouseover="this.stop();" onmouseout="this.start();" class="marquee">
            <h3>
              <!-- <span  *ngFor="let news of latestNews; let i = index"><a href="#/news-content/{{news.url}}">{{news.title}}</a>
              </span> -->
            </h3>
          </marquee>
  
  
  
  
        </div>
  
  
      </div>
    </div>
  
    <div class="explor">
      <div class="container">
        <!-- <div id="tab-below-banner">
        
            <hr>
             <p-tabView>
              <p-tabPanel header="MEDICAL" >
                <h2 class="light-blue-text">Explore 7,000+ Medical Colleges</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-ABROAD-1.png" />
                      <h3><b>MEDICAL COLLEGES ABROAD</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-INDIA-1.png" />
                      <h3><b>MEDICAL COLLEGES INDIA</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGE-PREDICTOR.png" />
                      <h3><b>MEDICAL COLLEGE PREDICTOR</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-EXAMS-1.png" />
                      <h3><b>MEDICAL EXAMS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/COMPARE-COLLEGES-1.png" />
                      <h3><b>COMPARE COLLEGES</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/ALL-MEDICAL-BLOGS-1.png" />
                      <h3><b>ALL MEDICAL BLOGS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="B.TECH" class="bg-light-blue white-text-2">
                <h2 class="light-blue-text">Explore 7,000+ B.TECH Colleges</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-ABROAD-1.png" />
                      <h3><b>MEDICAL COLLEGES ABROAD</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-INDIA-1.png" />
                      <h3><b>MEDICAL COLLEGES INDIA</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGE-PREDICTOR.png" />
                      <h3><b>MEDICAL COLLEGE PREDICTOR</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-EXAMS-1.png" />
                      <h3><b>MEDICAL EXAMS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/COMPARE-COLLEGES-1.png" />
                      <h3><b>COMPARE COLLEGES</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/ALL-MEDICAL-BLOGS-1.png" />
                      <h3><b>ALL MEDICAL BLOGS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="MBA">
                <h2 class="light-blue-text">Explore 7,000+ MBA Colleges</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-ABROAD-1.png" />
                      <h3><b>MEDICAL COLLEGES ABROAD</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-INDIA-1.png" />
                      <h3><b>MEDICAL COLLEGES INDIA</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGE-PREDICTOR.png" />
                      <h3><b>MEDICAL COLLEGE PREDICTOR</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-EXAMS-1.png" />
                      <h3><b>MEDICAL EXAMS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/COMPARE-COLLEGES-1.png" />
                      <h3><b>COMPARE COLLEGES</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/ALL-MEDICAL-BLOGS-1.png" />
                      <h3><b>ALL MEDICAL BLOGS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="DESIGN">
                <h2 class="light-blue-text">Explore 7,000+ DESIGN Colleges</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-ABROAD-1.png" />
                      <h3><b>MEDICAL COLLEGES ABROAD</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-INDIA-1.png" />
                      <h3><b>MEDICAL COLLEGES INDIA</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGE-PREDICTOR.png" />
                      <h3><b>MEDICAL COLLEGE PREDICTOR</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-EXAMS-1.png" />
                      <h3><b>MEDICAL EXAMS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/COMPARE-COLLEGES-1.png" />
                      <h3><b>COMPARE COLLEGES</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/ALL-MEDICAL-BLOGS-1.png" />
                      <h3><b>ALL MEDICAL BLOGS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
              <p-tabPanel header="MORE">
                <h2 class="light-blue-text">Explore 7,000+ MORE Colleges</h2>
                <div class="row">
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-ABROAD-1.png" />
                      <h3><b>MEDICAL COLLEGES ABROAD</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGES-INDIA-1.png" />
                      <h3><b>MEDICAL COLLEGES INDIA</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-COLLEGE-PREDICTOR.png" />
                      <h3><b>MEDICAL COLLEGE PREDICTOR</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/MEDICAL-EXAMS-1.png" />
                      <h3><b>MEDICAL EXAMS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/COMPARE-COLLEGES-1.png" />
                      <h3><b>COMPARE COLLEGES</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <img src="../../assets/img/Home Page/2. Explore 7,000+ Medical Colleges/ALL-MEDICAL-BLOGS-1.png" />
                      <h3><b>ALL MEDICAL BLOGS</b></h3>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
                    </div>
                  </div>
                </div>
              </p-tabPanel>
            </p-tabView>
          </div> -->
      </div>
      <div class="clr"></div>
    </div>
    <div class="cource">
      <div class="container">
        <h2 class="light-blue-text"><b>Choose a Domain or Course</b></h2>
        <div class="col-lg-12">
          <div class="row course-inner-div">
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Science.png" />
                <h3><b>Science</b></h3>
                <p>3945 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Arts.png" />
                <h3><b>Arts</b></h3>
                <p>4445 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Veterinary.png" />
                <h3><b>Veterinary</b></h3>
                <p>5945 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Management.png" />
                <h3><b>Management</b></h3>
                <p>3210 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Computer.png" />
                <h3><b>Computer</b></h3>
                <p>5673 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Engineering.png" />
                <h3><b>Engineering</b></h3>
                <p>2345 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Agriculture.png" />
                <h3><b>Agriculture</b></h3>
                <p>1234 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Animation.png" />
                <h3><b>Animation</b></h3>
                <p>4536 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Commerce.png" />
                <h3><b>commerce</b></h3>
                <p>6543 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Dental.png" />
                <h3><b>Dental</b></h3>
                <p>4354 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <img src="../../assets/img/Home Page/3. Domain or Course/Law.png" />
                <h3><b>Law</b></h3>
                <p>2342 Colleges</p>
                <h5><a href="#">View </a></h5>
              </div>
            </div>
  
            <!-- <div class="col-lg-2 col-md-4 col-6">
              <div class="part">
                <br /><br />
                <h3>
                  <b>Discover<br />More</b>
                </h3> -->
                <!-- <p>3945 Colleges</p> -->
                <!-- <h5><a href="#">View Courses</a></h5> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  
    <div class="university">
      <div class="container">
        <hr />
        <h2>Why Choose Select Your University</h2>
        <p class="para">
          India's leading educational consultancy with experience over a decade
        </p>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="../../assets/img/image.png" />
              <p>100% Assistance for Visa</p>
              
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="../../assets/img/location-globe.png" />
              <p>
                Multiple branches, Located<br />
                in more than 20 cities
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="../../assets/img/image (1).png" />
              <p>More than 8000<br />students counselled</p>
             
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="../../assets/img/image (2).png" />
              <p>
                One Stop Solution To<br />
                Study In India & Abroud
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="../../assets/img/image (5).png" />
              <p>
                Over 50+ tie-ups with<br />
                reputed universities
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="member">
              <img src="../../assets/img/image (3).png" />
              <p>
                Experienced Education<br />
                Counsellors
              </p>
            </div>
          </div>
        
        </div>
      </div>
      <div class="clr"></div>
    </div>
  
    <div class="text-center mt-4 study-destination-div">
      <div class="container">
        <h2 class="mb-4 light-blue-text">
          <b>Popular Countries to Study Abroad</b>
        </h2>
        <p class="para3">
          Get gauranteed admission with top rank universities & Colleges with us
          around the world & India
        </p>
  
        <owl-carousel id="slider2" [options]="carouselOptions2" [items]="images2"
          [carouselClasses]="['owl-theme', 'sliding', 'slider2']">
          <div class="item study-div" *ngFor="let image of images2; let i = index">
            <div class="border mx-3">
              <div class="row">
                <div class="col-lg-5 col-md-12 col-6">
                  <div class="text-center">
                    <img src="{{ image.image }}" class="pt-3 mx-auto" style="width: 40%" />
                  </div>
                </div>
                <div class="col-lg-7 col-md-12 pt-2 col-6">
                  <div class="row">
                    <div class="col-lg-12 col-md-12">
                      <p class="mb-0 text-right pr-2">
                        Study in {{ image.text }}
                      </p>
                    </div>
                    <div class="col-lg-12 col-md-12">
                      <p class="mb-0 text-right pr-2">
                        <a href="#" class="f-10">Check 218 Colleges ></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-4 col-md-12 border-right pl-2 col-4">
                      <p class="mb-0 f-10 text-left">218 Total</p>
                      <p class="mb-0 f-10 text-left">Colleges</p>
                    </div>
                    <div class="col-lg-4 col-md-12 border-right col-4">
                      <p class="mb-0 f-10 text-left">1129671 INR/Year</p>
                      <p class="mb-0 f-10 text-left">Average Study Cost</p>
                    </div>
                    <div class="col-lg-4 col-md-12 col-4">
                      <p class="mb-0 f-10 text-left">140872445 INR/Year</p>
                      <p class="mb-0 f-10 text-left">Average Living Cost</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <h6 class="text-left pl-2"><b>Coursewise List</b></h6>
                  <div class="accordion px-2" id="accordionExample2">
                    <div class="card">
                      <div class="card-header w-100" id="headingOne21">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left w-100 p-xs-0" type="button" data-toggle="collapse"
                            data-target="#collapseOne21" aria-expanded="true" aria-controls="collapseOne21">
                            <div class="row">
                              <div class="col-lg-4 text-center d-inline black-text col-4">
                                MBBS
                              </div>
                            </div>
                          </button>
                        </h2>
                      </div>
  
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo22">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left collapsed w-100 p-xs-0" type="button"
                            data-toggle="collapse" data-target="#collapseOne22" aria-expanded="false"
                            aria-controls="collapseOne22">
                            <div class="row">
                              <div class="col-lg-4 text-center d-inline black-text col-4">MBA</div>
                              <div class=" col-lg-4 text-center d-inline col-6">74 Collages</div>
                              <div class=" col-lg-4 col-2"><i class="float-right fa fa-angle-right rotate-icon"></i></div>
                            </div>
  
                          </button>
                        </h2>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree23">
                        <h2 class="mb-0">
                          <button class="btn  btn-block text-left collapsed w-100 p-xs-0" type="button"
                            data-toggle="collapse" data-target="#collapseThree23" aria-expanded="false"
                            aria-controls="collapseThree23">
                            <div class="row">
                              <div class="col-lg-4 text-center d-inline black-text col-4">M.Tech</div>
                              <div class=" col-lg-4 text-center d-inline col-6">68 Collages</div>
                              <div class=" col-lg-4 col-2"><i class="float-right fa fa-angle-right rotate-icon"></i></div>
                            </div>
  
                          </button>
                        </h2>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingFour24">
                        <h2 class="mb-0">
                          <button class="btn btn-block text-left collapsed w-100 p-xs-0" type="button"
                            data-toggle="collapse" data-target="#collapseFour24" aria-expanded="false"
                            aria-controls="collapseFour24">
                            <div class="row">
                              <div class="col-lg-4 text-center d-inline black-text col-4">Design</div>
                              <div class=" col-lg-4 text-center d-inline col-6">89 Collages</div>
                              <div class=" col-lg-4 col-2"><i class="float-right fa fa-angle-right rotate-icon"></i></div>
                            </div>
                          </button>
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row"> 
              <div class="col-lg-12">
              <h6 class="text-left f-11 pl-2 pt-3">Key Facts</h6>
              <ul class="pl-3 custom-li-img">
                  <li class="text-left f-11 ">494,525 International Students study in {{image.text}}</li>
                  <li class="text-left f-11 ">494,525 International Students study in {{image.text}}</li>
                  <li class="text-left f-11 ">494,525 International Students study in {{image.text}}</li>
                  <li class="text-left f-11 ">494,525 International Students study in {{image.text}}</li>
              </ul>
              </div>
            </div> -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="text-center light-bg-blue">
                    <h6 class="white-text py-2 mb-0">Read more</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="col-md-12">
              <div class="text-center">
                <button class="btn btn-study-show-more">Show More</button>
              </div>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
  
    <div class="blog">
      <div class="container">
        <h2 class="light-blue-text"><b>Latest From Blog</b></h2>
  
        <div class="row">
          <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="[
              'owl-theme',
              'row',
              'row-without-gutter',
              'sliding'
            ]">
            <div class="item blog-inner-div" *ngFor="let image of allBlog; let i = index">
              <div class="border-black mr-3 rounded-3">
                <div class="row row-without-gutter">
                  <!-- <div class="col-lg-12 col-md-12 "> -->
                  <!-- <div class="row"> -->
                  <!-- <img class="slide-image rounded-3" src="{{ image.blogimg }}" style="width: 100%" /> -->
                  <!-- </div> -->
                  <!-- </div> -->
                </div>
                <div class="row row-without-gutter">
                  <!-- <div class="col-lg-12"> -->
                  <p class="light-blue-text  pl-2">
                   <!-- {{image.title | titlecase}} -->
                  </p>
                  <!-- </div> -->
                </div>
  
                <div class="row row-without-gutter">
                  <!-- <div class="col-lg-12"> -->
                  <!-- <p class="text-left f-11 pl-2">{{ image.text }}</p> -->
                  <!-- </div> -->
                </div>
                <div class="row mb-2 row-without-gutter">
                  <!-- <div class="col-lg-12"> -->
                  <button class="light-bg-blue white-text p-1 w-50 blog-read-more-btn btn">
                    Read-more
                  </button>
                  <!-- </div> -->
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <button class="btn btn-blog-show-more text-center">
                    Discover More
                  </button>
                </div>
              </div>
            </div>
          </owl-carousel>
          <!-- <div class="col-md-12">
                <div class="text-center">
                  <h4></h4>
                </div>
               </div> -->
        </div>
      </div>
    </div>
    <div class="trending">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>Trending Exams this month</h1>
          </div>
          <div class="col-md-12">
            <a class="footer-nav-link"  href="#/exam-content/neet-pg-exam"><div class="pill-div">NEET PG</div></a>
            <a class="footer-nav-link"  href="#/exam-content/neet-ug-exam"><div class="pill-div">NEET UG</div></a>
            <a class="footer-nav-link"  href="#/exam-content/fmge-exam"><div class="pill-div">NEXT</div></a>
            <a class="footer-nav-link"  href="#/exam-content/international-foundation-of-medicine-ifom"><div class="pill-div">IFOM</div></a>
          </div>
        </div>
      </div>
    </div>
    <div class="subscribe light-bg-blue white-text subscribe-row">
      <div class="container">
        <div class="col-lg-12 m-2">
          <div class="row">
            <div class="d-block d-sm-none col-3">
              <img src="../../assets/img/Home Page/6. Subscribe To Our Newsletter/Newsletter.png" alt=""
                style="width: 100%" />
            </div>
            <div class="col-lg-7 col-sm-12 col-9">
              <h1 class="p-3 subscribe-text ml-5">Subscribe To Our Newsletter</h1>
            </div>
            <div class="col-lg-4 pt-4 col-sm-6 col-6">
              <input type="text" placeholder="Your Email Id Here" class="d-inline sub-textbox w-100 text-center" />
            </div>
            <div class="col-lg-1 pt-3 col-sm-6 col-6 text-center">
              <button class="btn signbtn">Sign Up</button>
              <!-- <input type="button btn " value=" Sign Up" class="d-inline p-2 signbtn black-text"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <app-footer></app-footer>
    <script>
      $(document).on("click", "#OpenForm", function () {
        $(".feedback_form_area").animate({
          width: "toggle",
        });
      });
      $(document).ready(function () {
        $("#OpenForm").click(function () {
          $(".feedback_form_area").animate({
            width: "toggle",
          });
        });
      });
      $(".navbar-toggle").click(function () {
        // alert()
        $("#myNavbar").removeClass("show");
      });
      $("#myNavbar").on(".show.collapse", function () {
        alert();
        $("a.nav-link").click(function () {
          $("#myNavbar").collapse("hide");
        });
        $(".navbar-toggle").click(function () {
          $("#myNavbar").collapse("hide");
        });
      });
      $(document).on("click", function () {
        $(".collapse").collapse("hide");
      });
    </script>
  </body>